.pomodoro-app {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.pomodoro-app__timer {
    /* background-color: var(--ocean-semi-dark); */
    padding: 2rem;
    /* border: solid var(--ocean-dark) 0.1rem;
    border-radius: 5rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer; 
    height: 25rem;
    width: 25rem;
}

.pomodoro-app__timer-message {
    color: var(--ocean-light);
    font-size: 2.4rem;
    position: absolute;
    top: 4rem;
}

.pomodoro-app__timer-value {
    color: var(--ocean-light);
    font-size: 6.4rem;
    font-weight: 700;
}

.pomodoro-app__timer-button {
    position: absolute;
    bottom: 3.5rem;
}

.pomodoro-app__settings {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.pomodoro-app__settings-headline {
    color: var(--ocean-disabled-text);
    font-family: var(--fira);
    font-size: 1.6rem;
    font-weight: 500;
}

.pomodoro-app__settings-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.pomodoro-app__settings-button {
    margin-top: 2rem;
    width: 17rem;
    align-self: left;
}
