.icon-btn {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.clock-control-icon {
    height: 3.2rem;
    width: 3.2rem;
    background-color: var(--ocean-light);
}

.play {
    mask-image: url("../../../assets/icons/playButton.svg");
}

.pause {
    mask-image: url("../../../assets/icons/pauseButton.svg");
}

.secondary-button {
    font-family: var(--fira);
    padding: 0.8rem 1.2rem;
    border-radius: 0.3rem;
    background-color: transparent;
    font-size: 1.6rem;
    font-weight: 400; 
    color: var(--ocean-accent);
    border: solid var(--ocean-accent) 1px;
    cursor: pointer; 
    transition: all 80ms ease;
}

.secondary-button:disabled {
    background-color: var(--disabled-light);
    color: var(--disabled-dark-text);
    cursor: default; 
}

.secondary-button:hover:not([disabled]) {
    background-color: var(--ocean-accent-10);
}