.container {
  width: 144rem;
  margin: 0 auto;
}

.section {
  display: flex;
  flex-direction: column;
  min-height: 25vh;
  padding: 150px 0;
  max-width: 1000px;
  margin: 0 auto;
}

.section__title {
  font-family: var(--fira);
  font-size: 3.2rem;
} 

.section__title_accent{
  font-weight: 400;
  color: var(--ocean-accent);
}

/* .projects {

} */

.projects__item {
 margin-top: 8rem;
}

.projects__item-title {
  font-size: 3.2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 6rem;
}
