.pd-time-input {
    display: flex;
    align-items: center;
}

.input__input {
    font-family: var(--fira);
    padding: 0.8rem 1.2rem;
    background-color: var(--ocean-semi-dark);
    color: var(--ocean-accent);
    text-align: center; 
    font-size: 1.6rem;
    font-weight: 500;
    width: 3.2rem;
    border: none;
    border-radius: 0.3rem;
}

.input__input:disabled {
    background-color: var(--ocean-semi-dark);
    color: var(--ocean-disabled-text);
}

.input__input:focus {
    outline: solid var(--ocean-accent) 1px;
}

.input__label {
    width: 7rem;
    font-family: var(--fira);
    font-weight: 400;
    margin-right: 2rem;
    font-size: 1.6rem;
    color: var(--ocean-light);
    
}.disabled {
    color: var(--ocean-disabled-text);
}