.pomodoro-app {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 20rem auto;
    height: 40rem;
    width: 80rem;
}

.pd-timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer; 
}

.pd-timer__circle {
    display: inline;
    height: 30rem;
    width: 30rem;
}

.pd-timer__value {
    color: var(--primary-light);
    position: relative;
    font-size: 8rem;
    font-weight: 700;
}

.pd-timer__message {
    color: var(--primary-light);
    font-size: 3.2rem;
    font-weight: 300;
    position: absolute;
    top: 5rem;
}

.pd-timer__control {
    position: absolute;
    bottom: 4rem;
}

.pd-settings {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.time-settings {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.time-settings__headline {
    font-size: 3.2rem;
    font-weight: 300;    
}

.time-inputs {
    display: flex;
    gap: 4rem;
}

.time-settings__button {
    width: 20rem;
    align-self: left;
}
