@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html {
  font-size: 62.5%;
  }

:root {
  --primary-light: #FFFFFF;
  --secondary-light: #E3E3E3;
  --disabled-light: #bbbbbb;
  --primary-dark: #080808;
  --secondary-dark: #141414;
  --disabled-dark: #242424;
  --disabled-dark-text: #505050;
  --focus: #87A5E4;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 2.4rem;
  color: var(--primary-light);
  box-sizing: border-box;
  background-color: var(--primary-dark);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 144rem;
  margin: 0 auto;
}

.svg-icon {
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.hide {
  display: none;
}